@import url(https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap);

body {
    font-family: 'DM Sans';
    background-color: #FFFFFF;
}

#tentacles {
    width: 50px;
    padding: 0 24px;
}

.header {
    display: flex;
    background-color: rgb(0, 110, 150);
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    color: white;
}

.main-body-wrapper {
    padding: 2.5% 2.5%;
    max-width: 1400px; 
    margin: 0 auto; 
}

.stats-container {
    display: flex;
    align-items: center;
    color:rgb(7, 51, 90);
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30 lightblue;
}

.stats-card {
    background-color: rgb(198, 233, 255);
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    transform: translateY(-4px);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'DM Sans';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
    background-color:rgb(228, 228, 228);
}